@charset "utf-8";

@import "@/styles/variables";
@import "@/styles/mixins";

#app {
	background-color: $background-color;
	color: $text-color;
	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	padding: $padding;
	border-radius: $border-radius;

	&[v-cloak] {
		display: none;
	}
}

html,
html > body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

html > body {
	@include flex-center;
	background-color: $body-background-color;
}
